[flake8]
ignore = C101,D403,F403,F405,I100,I201,W503,W504
exclude =
    **/migrations/*,
    .git,
    .mypy_cache,
    __pycache__,
    venv
    .env
filename = *.py
accept-encodings = utf-8
inline-quotes = single
max-complexity = 12
max-linenumber = 500
max-line-length = 119
multiline-quotes = double
per-file-ignores =
    **/__init__.py:F401,
