[tool.poetry]
name = "mermaid-py"
version = "0.5.1"
description = "A simple interface for the the famous lib mermaid-js to create diagrams."
authors = ["ouhammmourachid <rachidouhammou21@gmail.com>"]
readme = "README.md"
packages = [{include = "mermaid"}]
exclude = ["mermaid/tests/*.py"]
repository = "https://github.com/ouhammmourachid/mermaid-py"
license = "MIT"
homepage = "https://mermaidpy.vercel.app"

[tool.poetry.dependencies]
python = "^3.9"
requests = "^2.31.0"
ipython = "^8.17.2"


[tool.poetry.group.dev.dependencies]
pytest = ">=7.4.2,<9.0.0"
pre-commit = "^3.5.0"
pytest-cov = ">=4.1,<6.0"
coverage = "^7.3.2"
codecov = "^2.1.13"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[bumpver]
current_version = "0.5.1"
version_pattern = "MAJOR.MINOR.PATCH"

[bumpver.file_patterns]
"pyproject.toml" = [
    'version = "{version}"$'
]
"mermaid/__init__.py" = [
    "^__version__: str = '{version}'$",
]
