[tool.poetry]
name = "mermaid-py"
version = "0.2.3"
description = "A simple interface for the the famous lib mermaid-js to create diagrams."
authors = ["ouhammmourachid <rachidouhammou21@gmail.com>"]
readme = "README.md"
packages = [{include = "mermaid"}]
exclude = ["mermaid/tests/*.py"]

[tool.poetry.dependencies]
python = "^3.9"
requests = "^2.31.0"
ipython = "^8.17.2"


[tool.poetry.group.dev.dependencies]
pytest = "^7.4.2"
pre-commit = "^3.5.0"
bumpversion = "^0.6.0"
mkdocs = "^1.5.3"
mkdocstrings = {extras = ["python"], version = "^0.23.0"}
mkdocs-material = "^9.4.7"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
