# This is a basic workflow that is manually triggered

name: Bump version
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      version:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'Semver type of new version (major / minor / patch)'
        # Input has to be provided for the workflow to run
        required: true
        type: choice
        options:
        - patch
        - minor
        - major

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "bump-version"
  bump-version:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Check out source
      uses: actions/checkout@v3
    - name: Setup Git
      run: |
        git config user.name 'ouhammmourachid'
        git config user.email 'rachidouhammou21@gmail.com'
    - name: Upgrade pip & Install bumpversion.
      run: |
        python -m pip install --upgrade pip
        pip install bumpversion

    - name: Bump version.
      run: bumpversion ${{ github.event.inputs.version }}

    - name: Push latest version.
      run: git push origin main --follow-tags
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
